<h1>All Authors</h1>

{{#each authors}}

<div>
    <p> Name: {{this.name}}</p>
    <p> Bio: {{this.bio}}</p>
    <p> Gender: {{this.gender}}</p>
</div>
<a href="/authors/{{this._id}}">Show</a>
<a href="/authors/{{this._id}}/EDIT">Edit</a>
<a href="/authors/{{this._id}}?_method=DELETE">Delete</a>
<hr/>
{{/each}}